## Вычисляемые поля

In [1]:
import numpy as np
import pandas as pd

C:\Users\mi\anaconda3\lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
C:\Users\mi\anaconda3\lib\site-packages\numpy\.libs\libopenblas.PYQHXLVVQ7VESDPUVUADXEVJOBGHJPAY.gfortran-win_amd64.dll
C:\Users\mi\anaconda3\lib\site-packages\numpy\.libs\libopenblas.WCDJNK7YVMPZQ2ME2ZZHJJRJ3JIKNDB7.gfortran-win_amd64.dll
  warnings.warn("loaded more than 1 DLL from .libs:"

In [2]:
data = pd.read_csv("Бестселлеры.csv")
data

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction
...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction

In [3]:
data.columns = ["name", "author", "user_rating", "reviews", "price", "year", "genre"]

Самый простой способ расчёта вычисляемого поля

In [4]:
data["sale"] = data["price"] * 0.8

Функция apply

In [5]:
def get_sale(row):
    if row["genre"] == "Non Fiction" and row["year"] < 2015:
        return row["price"] * 0.5
    if row["user_rating"] < 4.3:
        return row["price"] * 0.8
    return row["price"]

In [7]:
data["sale"] = data.apply(get_sale, axis=1)
data

,name,author,user_rating,reviews,price,year,genre,sale
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction,8.0
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction,22.0
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction,15.0
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction,6.0
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction,12.0
...,...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction,8.0
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction,8.0
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction,8.0
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction,8.0
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction,8.0

Функция map

In [33]:
data["name"].map(len)

0      29
1      17
2      39
3      22
4      66
       ..
545    44
546    86
547    86
548    86
549    86
Name: name, Length: 550, dtype: int64

In [12]:
def my_func(item):
    if len(item) > 20:
        return "Длинное имя книги"
    else:
        return "Короткое имя книги"

In [13]:
data["name"].map(my_func)

0       Длинное имя книги
1      Короткое имя книги
2       Длинное имя книги
3       Длинное имя книги
4       Длинное имя книги
              ...
545     Длинное имя книги
546     Длинное имя книги
547     Длинное имя книги
548     Длинное имя книги
549     Длинное имя книги
Name: name, Length: 550, dtype: object

In [37]:
data["name_len"] = data["name"].map(len)

In [40]:
data.sort_values("name_len", ascending=False)

,name,author,user_rating,reviews,price,year,genre,sale,name_len
447,The Pioneer Woman Cooks: Dinnertime - Comfort ...,Ree Drummond,4.8,3428,14,2015,Non Fiction,11.2,121
99,Enchanted Forest: An Inky Quest and Coloring b...,Johanna Basford,4.7,5413,9,2015,Non Fiction,7.2,121
294,School Zone - Big Preschool Workbook - Ages 4 ...,School Zone,4.8,23047,6,2019,Non Fiction,4.8,119
293,School Zone - Big Preschool Workbook - Ages 4 ...,School Zone,4.8,23047,6,2018,Non Fiction,4.8,119
207,Last Week Tonight with John Oliver Presents A ...,Jill Twiss,4.9,11881,13,2018,Fiction,10.4,119
...,...,...,...,...,...,...,...,...,...
542,Wonder,R. J. Palacio,4.8,21625,9,2015,Fiction,7.2,6
543,Wonder,R. J. Palacio,4.8,21625,9,2016,Fiction,7.2,6
544,Wonder,R. J. Palacio,4.8,21625,9,2017,Fiction,7.2,6
150,Guts,Raina Telgemeier,4.8,5476,7,2019,Non Fiction,5.6,4
217,Life,Keith Richards,4.5,2752,18,2010,Non Fiction,14.4,4