In [1]:
import numpy as np
import pandas as pd

C:\Users\mi\anaconda3\lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
C:\Users\mi\anaconda3\lib\site-packages\numpy\.libs\libopenblas.PYQHXLVVQ7VESDPUVUADXEVJOBGHJPAY.gfortran-win_amd64.dll
C:\Users\mi\anaconda3\lib\site-packages\numpy\.libs\libopenblas.WCDJNK7YVMPZQ2ME2ZZHJJRJ3JIKNDB7.gfortran-win_amd64.dll
  warnings.warn("loaded more than 1 DLL from .libs:"

In [2]:
data = pd.read_csv("Бестселлеры.csv")
data

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction
...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction

In [3]:
data.columns = ["name", "author", "user_rating", "reviews", "price", "year", "genre"]

In [4]:
data.loc[data["author"].isin(["Michelle Obama", "R. J. Palacio"]), "price"] = "не знаю"
data.loc[data["year"] == 2017, "reviews"] = None
data.loc[data["user_rating"] < 4, "user_rating"] = 9999

In [5]:
data.price = pd.to_numeric(data.price, errors="coerce")

---

In [6]:
data.dropna(subset=["price", "user_rating"], inplace=True)

Данная запись эквивалентна верхней

In [7]:
data = data.dropna(subset=["price", "user_rating"])

Удаление столбцов

In [8]:
data = data.drop(["year", "genre"], axis=1)

Заполнение пустых значений

In [9]:
data = pd.Series([1, np.nan, np.nan, np.nan, np.nan, 2, np.nan, np.nan, np.nan, np.nan, 3, np.nan, np.nan, np.nan, np.nan])
data

0     1.0
1     NaN
2     NaN
3     NaN
4     NaN
5     2.0
6     NaN
7     NaN
8     NaN
9     NaN
10    3.0
11    NaN
12    NaN
13    NaN
14    NaN
dtype: float64

In [10]:
data.fillna(4)

0     1.0
1     4.0
2     4.0
3     4.0
4     4.0
5     2.0
6     4.0
7     4.0
8     4.0
9     4.0
10    3.0
11    4.0
12    4.0
13    4.0
14    4.0
dtype: float64

Заполнение сверху вниз

In [11]:
data.fillna(method="ffill")

0     1.0
1     1.0
2     1.0
3     1.0
4     1.0
5     2.0
6     2.0
7     2.0
8     2.0
9     2.0
10    3.0
11    3.0
12    3.0
13    3.0
14    3.0
dtype: float64

Заполнение снизу вверх

In [12]:
data.fillna(method="bfill")

0     1.0
1     2.0
2     2.0
3     2.0
4     2.0
5     2.0
6     3.0
7     3.0
8     3.0
9     3.0
10    3.0
11    NaN
12    NaN
13    NaN
14    NaN
dtype: float64