## Работа с текстовыми полями

In [2]:
import warnings
import pandas as pd
warnings.filterwarnings("ignore")

C:\Users\mi\anaconda3\lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
C:\Users\mi\anaconda3\lib\site-packages\numpy\.libs\libopenblas.PYQHXLVVQ7VESDPUVUADXEVJOBGHJPAY.gfortran-win_amd64.dll
C:\Users\mi\anaconda3\lib\site-packages\numpy\.libs\libopenblas.WCDJNK7YVMPZQ2ME2ZZHJJRJ3JIKNDB7.gfortran-win_amd64.dll
  warnings.warn("loaded more than 1 DLL from .libs:"

In [3]:
data = pd.Series(["  a1  ", "\n  b2  c7    h5  \n", "?c3___", "<h1><p>ab</p></h1>"])
data

0                    a1
1    \n  b2  c7    h5  \n
2                  ?c3___
3      <h1><p>ab</p></h1>
dtype: object

Удаление лишних символов в начале и в конце

In [4]:
data.str.strip(" \n?_")

0                    a1
1          b2  c7    h5
2                    c3
3    <h1><p>ab</p></h1>
dtype: object

Удаление лишних символов слева

In [5]:
data.str.lstrip(" \n?_")

0                  a1
1      b2  c7    h5  \n
2                 c3___
3    <h1><p>ab</p></h1>
dtype: object

Удаление лишних символов справа

In [6]:
data.str.rstrip(" \n?_")

0                    a1
1      \n  b2  c7    h5
2                   ?c3
3    <h1><p>ab</p></h1>
dtype: object

Извлечение по шаблону

In [11]:
data.str.extract(r"([abc]\d)")

     0
0   a1
1   b2
2   c3
3  NaN

In [10]:
data.str.extract(r"([abc])(\d)")

     0    1
0    a    1
1    b    2
2    c    3
3  NaN  NaN

In [9]:
data.str.extract(r"(?P<word>[abc])(?P<number>\d)")

  word number
0    a      1
1    b      2
2    c      3
3  NaN    NaN

Замена в тексте

In [13]:
data.str.replace("a", "ttt")

0                  ttt1
1    \n  b2  c7    h5  \n
2                  ?c3___
3    <h1><p>tttb</p></h1>
dtype: object

Удаляем несколько идущих друг за другом пробельных символа

In [11]:
data.str.replace("\s+", " ")

0                   a1
1             b2 c7 h5
2                ?c3___
3    <h1><p>ab</p></h1>
dtype: object

Пример жадного алгоритма поиска

In [14]:
data.str.replace("(<\S+>)", "v")

0                    a1
1    \n  b2  c7    h5  \n
2                  ?c3___
3                       v
dtype: object

In [13]:
data.str.replace("<\S+?>", "v")

0                    a1
1    \n  b2  c7    h5  \n
2                  ?c3___
3                  vvabvv
dtype: object

Срез

In [10]:
data.str.slice(0,3)

0       a
1    \n
2     ?c3
3     <h1
dtype: object

In [11]:
data.str.slice(0, -1)

0                   a1
1    \n  b2  c7    h5
2                 ?c3__
3     <h1><p>ab</p></h1
dtype: object

Оставляет только строки содержащие букву a

In [69]:
data[data.str.contains("a")]

0                  a1
3    <h1><p>ab</p></h1>
dtype: object

In [70]:
data[data.str.contains("([abc])(\d)")]

0                  a1
1      b2  c7    h5  \n
2                ?c3___
dtype: object