## Типы данных

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("Бестселлеры.csv")
data

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction
...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 550 entries, 0 to 549
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         550 non-null    object
 1   Author       550 non-null    object
 2   User Rating  550 non-null    float64
 3   Reviews      550 non-null    int64
 4   Price        550 non-null    int64
 5   Year         550 non-null    int64
 6   Genre        550 non-null    object
dtypes: float64(1), int64(3), object(3)
memory usage: 30.2+ KB

**int64** - целый тип чисел. Пример: 1 2 3 4 5  
**float64** - число с плавующей точкой. Пример: 2,5 4,3  
**object** - может быть строкой либо любым другим объектом.  
**datetime** - этим объектом кодируется дата и время

Преобразуем все столбцы в формат str

In [4]:
for col in data.columns:
    data[col] = data[col].astype("str")

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 550 entries, 0 to 549
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         550 non-null    object
 1   Author       550 non-null    object
 2   User Rating  550 non-null    object
 3   Reviews      550 non-null    object
 4   Price        550 non-null    object
 5   Year         550 non-null    object
 6   Genre        550 non-null    object
dtypes: object(7)
memory usage: 30.2+ KB

In [6]:
data["Name"] = data["Name"].astype("str")
data["Author"] = data["Author"].astype("str")
data["User Rating"] = data["User Rating"].astype("float64")
data["Reviews"] = data["Reviews"].astype("int64")
data["Price"] = data["Price"].astype("int64")
data["Year"] = data["Year"].astype("int64")
data["Genre"] = data["Genre"].astype("str")

Если у нас присутствуют элементы разных типов, то для преобразования нужно использовать функцию pd.to_numeric

In [7]:
data["Price"] = data['Price'].astype('str')

In [8]:
data.loc[1,'Price'] = "Простой текст"

In [9]:
data["Price"]

0                  8
1      Простой текст
2                 15
3                  6
4                 12
           ...
545                8
546                8
547                8
548                8
549                8
Name: Price, Length: 550, dtype: object

In [10]:
data["Price"] = data["Price"].astype("int64")

ValueError: invalid literal for int() with base 10: 'Простой текст'

In [11]:
data["Price"] = pd.to_numeric(data["Price"], errors="coerce")

In [12]:
data["Price"]

0       8.0
1       NaN
2      15.0
3       6.0
4      12.0
       ...
545     8.0
546     8.0
547     8.0
548     8.0
549     8.0
Name: Price, Length: 550, dtype: float64

Категориальные переменные нужны для уменьшения размеров таблицы

In [15]:
data['Genre'] = pd.Categorical(data['Genre'])

In [16]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 550 entries, 0 to 549
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         550 non-null    object
 1   Author       550 non-null    object
 2   User Rating  550 non-null    float64
 3   Reviews      550 non-null    int64
 4   Price        549 non-null    float64
 5   Year         550 non-null    int64
 6   Genre        550 non-null    category
dtypes: category(1), float64(2), int64(2), object(2)
memory usage: 26.6+ KB